.content-wrapper{
  position: relative;
  margin-top: $header-height + 40px;
  background-color: #f0f0f0;
  .content-header {
    position: fixed;
    padding: 0;
    left: $sidebar-width;
    right: 0;
    top: $header-height;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: -webkit-transform .3s ease-in-out,left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    .tags-nav{
      background-color: #f0f0f0;
      position: relative;
      box-sizing: border-box;
      padding-right: 120px;
      width: 100%;
      height: 40px;
      .ivu-btn, .ivu-btn:focus {
        box-shadow: none;
      }
      .scroll-outer{
        position: absolute;
        left: 28px;
        right: 61px;
        top: 0;
        bottom: 0;
        .scroll-body {
          height: calc(100% - 1px);
          display: inline-block;
          padding: 1px 4px 0;
          position: absolute;
          overflow: visible;
          white-space: nowrap;
          -webkit-transition: left .3s ease;
          transition: left .3s ease;
        }
      }
      .close-con{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 32px;
        background: #fff;
        text-align: center;
        z-index: 10;
      }
      .btn-con {
        position: absolute;
        top: 0;
        height: 100%;
        background: #fff;
        padding-top: 3px;
        z-index: 10;
        button {
          padding: 6px 4px;
          line-height: 14px;
          text-align: center;
        }
      }
      .btn-con.left-btn {
        left: 0;
      }
      .btn-con.right-btn {
        right: 32px;
        border-right: 1px solid #F0F0F0;
      }
    }
  }
  .content {
    position: fixed;
    left: $sidebar-width;
    right: 0;
    top: $header-height + 40px;
    bottom: 50px;
    overflow-y: auto;
    -webkit-transition: -webkit-transform .3s ease-in-out,left .3s ease-in-out;
    -webkit-transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out,-webkit-transform .3s ease-in-out;
    &::-webkit-scrollbar{
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:vertical {
      height: 5px;
      background-color: #999999;
      -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
      width: 5px;
      background-color: #CCCCCC;
      -webkit-border-radius: 6px;
    }
  }
}
.skin-purple .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #6763b5;
  }
}
.skin-green .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #00a854;
  }
}
.skin-red .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #f04134;
  }
}
.skin-yellow .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #f56a00;
  }
}
.skin-purple-light .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #6763b5;
  }
}
.skin-green-light .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #00a854;
  }
}
.skin-red-light .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #f04134;
  }
}
.skin-yellow-light .content-wrapper .content-header .scroll-body {
  .ivu-tag.ivu-tag-primary .ivu-tag-dot-inner {
    background: #f56a00;
  }
}

.sidebar-collapse{
  .content-wrapper{
    .content-header {
      left: 50px;
    }
    .content {
      left: 50px;
    }
  }
}

@media (max-width: 767px) {
  .sidebar-collapse .content-wrapper .content {
    left: 0;
  }
  .sidebar-open {
    .content-wrapper {
      -webkit-transform: inherit;
      transform: inherit;
      .content {
        left: $sidebar-width;
      }
    }
  }
  .content-wrapper{
    margin-top: $header-height * 2;
    .content-header {
      display: none;
    }
    .content {
      left: 0;
      top: 0;
      position: relative;
    }
  }
}
