/* custom css in this */
/*遮罩样式重写*/
.ivu-spin-fix {
  background-color: rgba(255,255,255,0.1);
}
/*list-search-con样式*/
.search-con.search-con-top {
  padding: 10px 0;
  .search-right-box {
    float: right;
  }
}
/*bootstrap 样式重写*/
.ivu-form .ivu-form-item-label, .ivu-checkbox-group-item, .ivu-radio-wrapper {
  font-weight: 500;
}
.ivu-checkbox-group-item, .ivu-radio-wrapper {
  margin-bottom: 0;
}
.ivu-form-item-content {
  line-height: 30px;
}
